.test{
    border-style: solid;
    width:100vw;
    height: auto;
    padding: 10px;
    margin: 10px;
}
#img-container{
    display: grid;
}
img{
    width: 10%;
    height: auto;
    border: 1px solid green
}